
.wrapper-dropdown {
    width: 420px;

    border: 1px solid grey;
    cursor: pointer;
    position: relative;
}

span.current {
    display: block;
    padding: 5px 10px;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    margin:0;
    list-style: none;
    top: 100%;
    left: 0;
    padding: 0;
    border: 1px solid gray;
    
    background: white;
    z-index: 100;
}

/*.wrapper-dropdown:after { */
span.current:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.dropdown-hide {
    opacity: 0;
}

.dropdown-show {
    opacity: 1;
}

.dropdown {
    transition: 0.3s;
}

.wrapper-dropdown .dropdown li {
    width: 400px;
    padding: 5px 10px;
    border: 1px white solid;
}

.wrapper-dropdown .dropdown li.active {
    background-color: gainsboro;
    border-color: gainsboro;
}

.wrapper-dropdown .dropdown li:hover {
    border-color: gray;
}

