
.passwordContainer {
    position: relative;
}

.passwordContainer input {
    padding: 5px;
    position: relative;
    top: -8px;
}

.showPasswordButton {
    background: url(../img/Messaging-Invisible-icon.png) no-repeat 2px;
    width: 30px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 3px;
    outline: none;
    position: relative;
    cursor: pointer;
}

.showPasswordButton:active {
    border-style: inset;
}

.passwordIcon {
    width: 30px;
    height: 30px;
    background: url(../img/img_409318.png) no-repeat;
    float: left;
}

.passwordContainer .tooltip {
    top: 100%;
    left: 30px;
}
