<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="checkboxContainer" ng-click="hideCheckboxTooltip()" >
    <div class="switch">
        <input type="checkbox" id="{{checkboxId}}" ng-model="checkboxOn" class="toggle" /> 
        <label for="{{checkboxId}}" ></label>
         {{checkboxText}}    
    </div>
    <span class="tooltip" ng-class="showCheckboxTooltip === true ? 'tooltip-show' : 'tooltip-hide'" >{{checkboxTooltipText}}</span>
</div>