




<div class="passwordContainer" ng-click="hidePasswordTooltip()" >
    <div>
        <div class="passwordIcon"></div>
        <input type="password" ng-model="passwordValue" ng-hide="showPassword" />
        <input type="text" ng-model="passwordValue" ng-show="showPassword" />
        <button class="showPasswordButton" ng-mousedown="showPasswordSymbols()" ng-mouseup="hidePasswordSymbols()"></button>
    </div>
    <span class="tooltip" ng-class="showPasswordTooltip === true ? 'tooltip-show' : 'tooltip-hide'" >{{passwordTooltipText}}</span>
</div>

